@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Global Styles */
:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Center All */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Cards */
.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.badge {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

/* Forms */
input {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-color: green;
}

input[type="submit"],
button {
  font: inherit;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }
}

.imageclass {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 2rem;
}

.textclass {
  float: left;
}

/* ======================= */
/* =======-404error-======
========================== */

.err-body {
  overflow: visible;
  text-align: center;
}

.error-banner {
  text-align: center;
  padding: 60px 0 20px;
  position: relative;
  display: inline-block;
  font-family: Helvetica-neue, Helvetica, Arial, sans-serif;
  color: #788392;
}
.error-banner svg {
  position: relative;
  overflow: visible;
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin: 3em;
}
.error-banner .error-message {
  margin: 1em 0;
  position: relative;
}
.error-banner h2 {
  font-size: 50px;
  font-weight: normal;
  margin: 0;
  -webkit-animation: 1.5s ease-out fade-in-slowly;
  animation: 1.5s ease-out fade-in-slowly;
}
.error-banner p {
  font-size: 20px;
  margin: 8px;
}
.error-banner p span {
  -webkit-animation: 2s ease-out fade-in-slowly;
  animation: 2s ease-out fade-in-slowly;
}
.error-banner svg:hover + .error-message {
  -webkit-animation: error-party 0.9s linear infinite;
  animation: error-party 0.9s linear infinite;
}
.error-banner svg:hover + .error-message h2 {
  font-size: 0;
}
.error-banner svg:hover + .error-message h2:before {
  font-size: 20px;
  content: "On the bright side, you found";
}
.error-banner svg:hover + .error-message p {
  font-size: 0;
}
.error-banner svg:hover + .error-message p:after {
  font-size: 50px;
  line-height: 1.2em;
  content: "THE PARTY!";
}
.error-banner svg:hover + .error-message p {
  -webkit-animation: zbounce 0.5s linear infinite;
  animation: zbounce 0.5s linear infinite;
}

[id$="cube-1"],
[id$="cube-13"],
[id$="cube-25"] {
  -webkit-animation: drop-cube-1 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: drop-cube-1 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}
[id$="cube-1"] path,
[id$="cube-13"] path,
[id$="cube-25"] path {
  -webkit-animation: fade-cube-1 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: fade-cube-1 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}

[id$="cube-2"],
[id$="cube-14"],
[id$="cube-26"] {
  -webkit-animation: drop-cube-2 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: drop-cube-2 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}
[id$="cube-2"] path,
[id$="cube-14"] path,
[id$="cube-26"] path {
  -webkit-animation: fade-cube-2 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: fade-cube-2 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}

[id$="cube-3"],
[id$="cube-15"],
[id$="cube-27"] {
  -webkit-animation: drop-cube-3 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: drop-cube-3 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}
[id$="cube-3"] path,
[id$="cube-15"] path,
[id$="cube-27"] path {
  -webkit-animation: fade-cube-3 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: fade-cube-3 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}

[id$="cube-4"],
[id$="cube-16"],
[id$="cube-28"] {
  -webkit-animation: drop-cube-4 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: drop-cube-4 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}
[id$="cube-4"] path,
[id$="cube-16"] path,
[id$="cube-28"] path {
  -webkit-animation: fade-cube-4 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: fade-cube-4 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}

[id$="cube-5"],
[id$="cube-17"],
[id$="cube-29"] {
  -webkit-animation: drop-cube-5 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: drop-cube-5 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}
[id$="cube-5"] path,
[id$="cube-17"] path,
[id$="cube-29"] path {
  -webkit-animation: fade-cube-5 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: fade-cube-5 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}

[id$="cube-6"],
[id$="cube-18"],
[id$="cube-30"] {
  -webkit-animation: drop-cube-6 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: drop-cube-6 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}
[id$="cube-6"] path,
[id$="cube-18"] path,
[id$="cube-30"] path {
  -webkit-animation: fade-cube-6 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: fade-cube-6 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}

[id$="cube-7"],
[id$="cube-19"],
[id$="cube-31"] {
  -webkit-animation: drop-cube-7 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: drop-cube-7 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}
[id$="cube-7"] path,
[id$="cube-19"] path,
[id$="cube-31"] path {
  -webkit-animation: fade-cube-7 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: fade-cube-7 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}

[id$="cube-8"],
[id$="cube-20"],
[id$="cube-32"] {
  -webkit-animation: drop-cube-8 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: drop-cube-8 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}
[id$="cube-8"] path,
[id$="cube-20"] path,
[id$="cube-32"] path {
  -webkit-animation: fade-cube-8 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: fade-cube-8 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}

[id$="cube-9"],
[id$="cube-21"],
[id$="cube-33"] {
  -webkit-animation: drop-cube-9 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: drop-cube-9 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}
[id$="cube-9"] path,
[id$="cube-21"] path,
[id$="cube-33"] path {
  -webkit-animation: fade-cube-9 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: fade-cube-9 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}

[id$="cube-10"],
[id$="cube-22"],
[id$="cube-34"] {
  -webkit-animation: drop-cube-10 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: drop-cube-10 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}
[id$="cube-10"] path,
[id$="cube-22"] path,
[id$="cube-34"] path {
  -webkit-animation: fade-cube-10 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: fade-cube-10 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}

[id$="cube-11"],
[id$="cube-23"],
[id$="cube-35"] {
  -webkit-animation: drop-cube-11 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: drop-cube-11 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}
[id$="cube-11"] path,
[id$="cube-23"] path,
[id$="cube-35"] path {
  -webkit-animation: fade-cube-11 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: fade-cube-11 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}

[id$="cube-12"],
[id$="cube-24"],
[id$="cube-36"] {
  -webkit-animation: drop-cube-12 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: drop-cube-12 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}
[id$="cube-12"] path,
[id$="cube-24"] path,
[id$="cube-36"] path {
  -webkit-animation: fade-cube-12 0.9s cubic-bezier(0.19, 1, 0.32, 1);
  animation: fade-cube-12 0.9s cubic-bezier(0.19, 1, 0.32, 1);
}

svg:hover [id$="cube-1"] path,
svg:hover [id$="cube-13"] path,
svg:hover [id$="cube-25"] path {
  -webkit-animation: fade-out-cube-1 0.7s cubic-bezier(0.19, 1, 0.32, 1)
    infinite;
  animation: fade-out-cube-1 0.7s cubic-bezier(0.19, 1, 0.32, 1) infinite;
}
svg:hover [id$="cube-2"] path,
svg:hover [id$="cube-14"] path,
svg:hover [id$="cube-26"] path {
  -webkit-animation: fade-out-cube-2 0.7s cubic-bezier(0.19, 1, 0.32, 1)
    infinite;
  animation: fade-out-cube-2 0.7s cubic-bezier(0.19, 1, 0.32, 1) infinite;
}
svg:hover [id$="cube-3"] path,
svg:hover [id$="cube-15"] path,
svg:hover [id$="cube-27"] path {
  -webkit-animation: fade-out-cube-3 0.7s cubic-bezier(0.19, 1, 0.32, 1)
    infinite;
  animation: fade-out-cube-3 0.7s cubic-bezier(0.19, 1, 0.32, 1) infinite;
}
svg:hover [id$="cube-4"] path,
svg:hover [id$="cube-16"] path,
svg:hover [id$="cube-28"] path {
  -webkit-animation: fade-out-cube-4 0.7s cubic-bezier(0.19, 1, 0.32, 1)
    infinite;
  animation: fade-out-cube-4 0.7s cubic-bezier(0.19, 1, 0.32, 1) infinite;
}
svg:hover [id$="cube-5"] path,
svg:hover [id$="cube-17"] path,
svg:hover [id$="cube-29"] path {
  -webkit-animation: fade-out-cube-5 0.7s cubic-bezier(0.19, 1, 0.32, 1)
    infinite;
  animation: fade-out-cube-5 0.7s cubic-bezier(0.19, 1, 0.32, 1) infinite;
}
svg:hover [id$="cube-6"] path,
svg:hover [id$="cube-18"] path,
svg:hover [id$="cube-30"] path {
  -webkit-animation: fade-out-cube-6 0.7s cubic-bezier(0.19, 1, 0.32, 1)
    infinite;
  animation: fade-out-cube-6 0.7s cubic-bezier(0.19, 1, 0.32, 1) infinite;
}
svg:hover [id$="cube-7"] path,
svg:hover [id$="cube-19"] path,
svg:hover [id$="cube-31"] path {
  -webkit-animation: fade-out-cube-7 0.7s cubic-bezier(0.19, 1, 0.32, 1)
    infinite;
  animation: fade-out-cube-7 0.7s cubic-bezier(0.19, 1, 0.32, 1) infinite;
}
svg:hover [id$="cube-8"] path,
svg:hover [id$="cube-20"] path,
svg:hover [id$="cube-32"] path {
  -webkit-animation: fade-out-cube-8 0.7s cubic-bezier(0.19, 1, 0.32, 1)
    infinite;
  animation: fade-out-cube-8 0.7s cubic-bezier(0.19, 1, 0.32, 1) infinite;
}
svg:hover [id$="cube-9"] path,
svg:hover [id$="cube-21"] path,
svg:hover [id$="cube-33"] path {
  -webkit-animation: fade-out-cube-9 0.7s cubic-bezier(0.19, 1, 0.32, 1)
    infinite;
  animation: fade-out-cube-9 0.7s cubic-bezier(0.19, 1, 0.32, 1) infinite;
}
svg:hover [id$="cube-10"] path,
svg:hover [id$="cube-22"] path,
svg:hover [id$="cube-34"] path {
  -webkit-animation: fade-out-cube-10 0.7s cubic-bezier(0.19, 1, 0.32, 1)
    infinite;
  animation: fade-out-cube-10 0.7s cubic-bezier(0.19, 1, 0.32, 1) infinite;
}
svg:hover [id$="cube-11"] path,
svg:hover [id$="cube-23"] path,
svg:hover [id$="cube-35"] path {
  -webkit-animation: fade-out-cube-11 0.7s cubic-bezier(0.19, 1, 0.32, 1)
    infinite;
  animation: fade-out-cube-11 0.7s cubic-bezier(0.19, 1, 0.32, 1) infinite;
}
svg:hover [id$="cube-12"] path,
svg:hover [id$="cube-24"] path,
svg:hover [id$="cube-36"] path {
  -webkit-animation: fade-out-cube-12 0.7s cubic-bezier(0.19, 1, 0.32, 1)
    infinite;
  animation: fade-out-cube-12 0.7s cubic-bezier(0.19, 1, 0.32, 1) infinite;
}

@-webkit-keyframes drop-cube-1 {
  0%,
  7% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes drop-cube-1 {
  0%,
  7% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-cube-1 {
  0%,
  7% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-cube-1 {
  0%,
  7% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out-cube-1 {
  0%,
  3% {
    opacity: 1;
  }
  97% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out-cube-1 {
  0%,
  3% {
    opacity: 1;
  }
  97% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes drop-cube-2 {
  0%,
  14% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes drop-cube-2 {
  0%,
  14% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-cube-2 {
  0%,
  14% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-cube-2 {
  0%,
  14% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out-cube-2 {
  0%,
  6% {
    opacity: 1;
  }
  94% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out-cube-2 {
  0%,
  6% {
    opacity: 1;
  }
  94% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes drop-cube-3 {
  0%,
  21% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes drop-cube-3 {
  0%,
  21% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-cube-3 {
  0%,
  21% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-cube-3 {
  0%,
  21% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out-cube-3 {
  0%,
  9% {
    opacity: 1;
  }
  91% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out-cube-3 {
  0%,
  9% {
    opacity: 1;
  }
  91% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes drop-cube-4 {
  0%,
  28% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes drop-cube-4 {
  0%,
  28% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-cube-4 {
  0%,
  28% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-cube-4 {
  0%,
  28% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out-cube-4 {
  0%,
  12% {
    opacity: 1;
  }
  88% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out-cube-4 {
  0%,
  12% {
    opacity: 1;
  }
  88% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes drop-cube-5 {
  0%,
  35% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes drop-cube-5 {
  0%,
  35% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-cube-5 {
  0%,
  35% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-cube-5 {
  0%,
  35% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out-cube-5 {
  0%,
  15% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out-cube-5 {
  0%,
  15% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes drop-cube-6 {
  0%,
  42% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes drop-cube-6 {
  0%,
  42% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-cube-6 {
  0%,
  42% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-cube-6 {
  0%,
  42% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out-cube-6 {
  0%,
  18% {
    opacity: 1;
  }
  82% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out-cube-6 {
  0%,
  18% {
    opacity: 1;
  }
  82% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes drop-cube-7 {
  0%,
  49% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes drop-cube-7 {
  0%,
  49% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-cube-7 {
  0%,
  49% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-cube-7 {
  0%,
  49% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out-cube-7 {
  0%,
  21% {
    opacity: 1;
  }
  79% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out-cube-7 {
  0%,
  21% {
    opacity: 1;
  }
  79% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes drop-cube-8 {
  0%,
  56% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes drop-cube-8 {
  0%,
  56% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-cube-8 {
  0%,
  56% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-cube-8 {
  0%,
  56% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out-cube-8 {
  0%,
  24% {
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out-cube-8 {
  0%,
  24% {
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes drop-cube-9 {
  0%,
  63% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes drop-cube-9 {
  0%,
  63% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-cube-9 {
  0%,
  63% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-cube-9 {
  0%,
  63% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out-cube-9 {
  0%,
  27% {
    opacity: 1;
  }
  73% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out-cube-9 {
  0%,
  27% {
    opacity: 1;
  }
  73% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes drop-cube-10 {
  0%,
  70% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes drop-cube-10 {
  0%,
  70% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-cube-10 {
  0%,
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-cube-10 {
  0%,
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out-cube-10 {
  0%,
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out-cube-10 {
  0%,
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes drop-cube-11 {
  0%,
  77% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes drop-cube-11 {
  0%,
  77% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-cube-11 {
  0%,
  77% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-cube-11 {
  0%,
  77% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out-cube-11 {
  0%,
  33% {
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out-cube-11 {
  0%,
  33% {
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes drop-cube-12 {
  0%,
  84% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes drop-cube-12 {
  0%,
  84% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-cube-12 {
  0%,
  84% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-cube-12 {
  0%,
  84% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out-cube-12 {
  0%,
  36% {
    opacity: 1;
  }
  64% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out-cube-12 {
  0%,
  36% {
    opacity: 1;
  }
  64% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes error-party {
  0% {
    color: #8e55dd;
  }
  20% {
    color: #967adc;
  }
  40% {
    color: #fef0bd;
  }
  60% {
    color: #d4eef7;
  }
  80% {
    color: #82c1ed;
  }
  100% {
    color: #5d9cec;
  }
}
@keyframes error-party {
  0% {
    color: #8e55dd;
  }
  20% {
    color: #967adc;
  }
  40% {
    color: #fef0bd;
  }
  60% {
    color: #d4eef7;
  }
  80% {
    color: #82c1ed;
  }
  100% {
    color: #5d9cec;
  }
}
@-webkit-keyframes fade-in-slowly {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-slowly {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes zbounce {
  0%,
  100% {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes zbounce {
  0%,
  100% {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

/* ===================
====404errorEnd====
=================== */
